library.path=c:\\temp\\data
settings.path=c:\\temp\\settings
threads.global.count=100
threads.files.count=25
library.data.service.type=db
library.data.storage.type=sqlite
spring.main.banner_mode=off
server.port=8083